
body {
	margin: 0px;
	padding: 0px;
	background-color: #2a8dc8;
	font-size:12px;
}
td.topbackground {
	background-image: url(../images/new_002.jpg);
	background-repeat: repeat-x;
}
img{
	border:none;
}

td.menu_bg_top{
	background-image: url(../images/new_006.jpg);
	background-repeat: repeat-x;
	text-align:center;
	width:180px;
	height:35px;
}
td.menu_bg_box_left{
	background-image: url(../images/new_008.jpg);
	width:15px;
}
td.menu_bg_box_right{
	background-image: url(../images/new_009.jpg);
	width:15px;
}

td.menu_bg_box_bottom_middle{
	background-image: url(../images/new_011.jpg);
	width:180px;
	height:15px;
}

td.list_bg_top{
	background-image: url(../images/new_020.jpg);
	height:20px;
	width:100%;
}
td.list_bg_nav_top{
	background-image: url(../images/new_022.jpg);
	width:15px;
}
td.list_bg_box_right{
	background-image: url(../images/new_023.jpg);
	width:15px;
	background-repeat: repeat-y;
}
td.list_bg_box_bottom{
	background-image: url(../images/new_025.jpg);
	height:15px;
	width:100%;
	background-repeat: repeat-x;
}

table.datagrid{
	border:none;
	width:100%;
	font-style:normal;
	border-color:#ccc;
	line-height:20px;
}

table.datagrid .header{
	font-weight: bold;
	font-style: normal; 
	background-color: #eeeeee; 
	text-decoration: none;
	text-align:center;
}


input.txt2{
	width:200px;
}

.btn{
    display:inline-block;
    text-decoration:none;
    font:bold 12px/12px HelveticaNeue, Arial;
  	line-height:20px;
    color:#555;
    border:1px solid #dedede;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
	cursor:pointer;
}

.btn.white{
    background:#f5f5f5;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background:-moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color:#dedede #d8d8d8 #d3d3d3;
    color:#555;
    text-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow:0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow:0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.btn.white:hover{
    background:#f4f4f4;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background:-moz-linear-gradient(top,  #efefef, #f8f8f8);
    border-color:#c7c7c7 #c3c3c3 #bebebe;
    text-shadow:0 1px 0 #fdfdfd;
    -webkit-box-shadow:0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow:0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow:0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}
.btn.grey{
    background:#bdbdbd;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
    background:-moz-linear-gradient(top,  #cacaca, #aeaeae);
    border-color:#b5b5b5 #a1a1a1 #8f8f8f;
    color:#555;
    text-shadow:0 1px 0 #d4d4d4;
    -webkit-box-shadow:0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
    -moz-box-shadow:0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
    box-shadow:0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;    
}
.btn.grey:hover{
    background:#c2c2c2;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
    background:-moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
    border-color:#989898 #8e8e8e #878787;
    text-shadow:0 1px 0 #dadada;
    -webkit-box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
    -moz-box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
    box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.btn.pink{
    background:#f67689;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78297', endColorstr='#f56778'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#f78297), to(#f56778)); /*  WebKit */
    background:-moz-linear-gradient(top,  #f78297, #f56778);
    border-color:#df6f8b #da5f75 #d55061;
    color:#913944;
    text-shadow:0 1px 0 #f89ca9;
    -webkit-box-shadow:0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
    -moz-box-shadow:0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
    box-shadow:0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;    
}
.btn.pink:hover{
    background:#f67c90;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56c7e', endColorstr='#f78297'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#f56c7e), to(#f78297)); /*  WebKit */
    background:-moz-linear-gradient(top,  #f56c7e, #f78297);
    border-color:#c36079 #c25669 #c14e5c;
    text-shadow:0 1px 0 #f9a6b4;
    -webkit-box-shadow:0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
    -moz-box-shadow:0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
    box-shadow:0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;    
}

.btn.orange{
    background:#fecc5f;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
    background:-moz-linear-gradient(top,  #feda71, #febb4a);
    border-color:#f5b74e #e5a73e #d6982f;
    color:#996633;
    text-shadow:0 1px 0 #fedd9b;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;    
}
.btn.orange:hover{
    background:#fecb5e;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
    background:-moz-linear-gradient(top,  #fec354, #fecd61);
    border-color:#d29a3a #cc9436 #c89133;
    text-shadow:0 1px 0 #fee1a0;
    -webkit-box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    -moz-box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
    box-shadow:0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;    
}

.btn.green{
    background:#b7d770;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background:-moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color:#adc671 #98b65b #87aa4a;
    color:#5d7731;
    text-shadow:0 1px 0 #cfe5a4;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}
.btn.green:hover{
    background:#b9d972;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background:-moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color:#8bb14d #83a648 #7d9e45;
    text-shadow:0 1px 0 #d5e8aa;
    -webkit-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

.btn.blue{
    background:#92dbf6;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3)); /*  WebKit */
    background:-moz-linear-gradient(top,  #abe4f8, #6fcef3);
    border-color:#8dc5da #76b7cf #63abc7;
    color:#42788e;
    text-shadow:0 1px 0 #b6e6f9;
    -webkit-box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
    -moz-box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
    box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;    
}
.btn.blue:hover{
    background:#92dbf6;
    border-color:#7caec0 #68a3ba #5a9cb5;
    text-shadow:0 1px 0 #bee9fa;
    -webkit-box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
    -moz-box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
    box-shadow:0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;    
}

.btn.purple{
    background:#dfaeda;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8c4e4', endColorstr='#d494ce'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d494ce)); /*  WebKit */
    background:-moz-linear-gradient(top,  #e8c4e4, #d494ce);
    border-color:#bc9db9 #ad89aa #a1799d;
    color:#7b5777;
    text-shadow:0 1px 0 #eacae6;
    -webkit-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
    -moz-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;
    box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #eed3eb;    
}
.btn.purple:hover{
    background:#e0b1db;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#deabd9', endColorstr='#e0b1db'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#deabd9), to(#e0b1db)); /*  WebKit */
    background:-moz-linear-gradient(top,  #deabd9, #e0b1db);
    border-color:#a482a0 #9b7897 #947090;
    text-shadow:0 1px 0 #ecd0e9;
    -webkit-box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
    -moz-box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
    box-shadow:0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;    
}

.btn.teal{
    background:#9cedef;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7f2f4', endColorstr='#7ce7ea'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#7ce7ea)); /*  WebKit */
    background:-moz-linear-gradient(top,  #b7f2f4, #7ce7ea);
    border-color:#90c6c8 #78bdc0 #65b6ba;
    color:#437b7d;
    text-shadow:0 1px 0 #bef3f5;
    -webkit-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
    -moz-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;
    box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #c9f5f7;    
}
.btn.teal:hover{
    background:#9fedf0;
    border-color:#7db9bb #6bb2b5 #5dacaf;
    text-shadow:0 1px 0 #c5f4f6;
    -webkit-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
    -moz-box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;
    box-shadow:0 1px 1px #d5d5d5, inset 0 1px 0 #b7f2f4;    
}

.btn.darkblue{
    background:#a5b8c6;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#becbd6', endColorstr='#88a1b4'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#88a1b4)); /*  WebKit */
    background:-moz-linear-gradient(top,  #becbd6, #88a1b4);
    border-color:#a2afb8 #8696a1 #6f818f;
    color:#515f6a;
    text-shadow:0 1px 0 #c4d0d9;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #ced8e0;    
}
.btn.darkblue:hover{
    background:#adbfcb;
    border-color:#8996a0 #798791 #6c7a85;
    text-shadow:0 1px 0 #ced9e0;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #c2cfd8;    
}

.btn.black{
    background:#525252;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /*  IE */
    background:-webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /*  WebKit */
    background:-moz-linear-gradient(top,  #5e5e5e, #434343);
    border-color:#4c4c4c #313131 #1f1f1f;
    color:#fff;
    text-shadow:0 1px 0 #2e2e2e;
    -webkit-box-shadow:0 1px 1px #afafaf, inset 0 1px 0 #868686;
    -moz-box-shadow:0 1px 1px #afafaf, inset 0 1px 0 #868686;
    box-shadow:0 1px 1px #afafaf, inset 0 1px 0 #868686;    
}
.btn.black:hover{
    background:#5a5a5a;
    border-color:#2c2c2c #1c1c1c #101010;
    text-shadow:0 1px 0 #363636;
    -webkit-box-shadow:0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
    -moz-box-shadow:0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
    box-shadow:0 1px 1px #b1b1b1, inset 0 1px 0 #838383;    
}
.nav{
	line-height:30px;
}
.contral{
	border:1px solid #c1e8ff;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:10px;
	background-color:#f9fdff;
	*background-color:#f9fdff;
	_background-color:#f9fdff;
}

ul, ol, li { list-style: none; margin:0px;padding:0px;line-height:25px;}
.tables { }
.tables table { color: #000; }
.tables thead { background: #e6e6e6; font-size: 14px;}
.tables tbody { color: #666; }
.tables tfoot { background: #fcfbfb; }
.tables td, .tables th { padding: 10px; }
.tables textarea { width:98%; height: 80px; color: #666; padding: 3px; border: 1px solid #e5e5e5; border-radius: 3px; }
.tables select { height: 25px; line-height: 25px; color: #666; }
.tables p { line-height: 25px; }
.tables b { color: #333; }
.tables b i { color: #f00; margin-right: 5px; }
.tables .tab-submit { width: 70px; height: 25px; line-height: 25px; padding: 0; }/* 提交按钮重置全局样式 */
.tables .tab-radio { height: 14px; width: 14px; padding: 0; margin: 0 5px; }/* 单选按钮按钮重置全局样式 */
/*= E table style */
.table-list table { border-top: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9; }
.table-list td, .table-list th { border-bottom: 1px solid #c9c9c9; border-left: 1px solid #c9c9c9; }
/* =E table list */
.table-reg table {border-top: 1px dashed #e5e5e5; border-right: 1px dashed #e5e5e5;}
.table-reg td, .table-reg th { border-bottom: 1px dashed #e5e5e5; border-left: 1px dashed #e5e5e5; }
/* =E table register */
.tab-page li { float: left; }
.tab-page span { padding: 3px 6px; }
.tab-page a, .tab-page a:link { padding: 3px 6px; margin: 0 4px; text-decoration: none; border: 1px solid #dcdcdc; border-radius: 3px; }
.tab-page a:hover { color: #ff7700; border: 1px solid #f7bf87; }
.tab-page .r { float: right; }
.tab-page .l { float: left; }
/* =E table page */
.odd { background: #fcfbfb; }
.even { background: #fff; }
.tr-bg { background: #fffbf6; }
/*=E table cut  background */

.yellow{color:#E0C303;}
.green{color:#178E00;}
.red{color:#FF0000;}
.gay{color:#B5B5B5;}