<#include "../common/header.html">

<#assign usertype="com.maiyoule.miniexam.ui.template.UserTypeNameTemplate"?new()>
<#assign bankname="com.maiyoule.miniexam.ui.template.BankTemplate"?new()>
<#assign userinfo="com.maiyoule.miniexam.ui.template.UserTemplate"?new()>
<script type="text/javascript" src="${basePath}/static/cxSelect/js/jquery.cxselect.min.js"></script>

<div class="nav">当前位置：管理首页 &gt; 考试管理 &gt; 设置考试时间 &gt; 加入考试人员</div>
<div class="contral">
	<form action="${basePath}/contral/layouts/setupusers?layout_id=${layout_id}" method="post">
		筛选：准考号
		<input name="cardno"/> 
		<select name="uprovince"></select> 
		<select name="ucity"></select> 
		<select name="ucountry"></select> 
		<span id="selectdom">
			<#list fillbanks as bank>
				<select class="bank_${bank_index}" name="ubankNo" data-value="${bank}" disabled="disabled"></select>
			</#list>
		</span>
		<input type="submit" class="btn blue" value="筛选"/> 
		<input type="button" class="btn orange" value="全部加入" id="btnAddAll" data-url="${basePath}/contral/layouts/updateUsers?act=all<#if queryString??>&${queryString}</#if>"/>
	</form>
</div>

<!--数据表格-->
<div class="tables table-list">
	<form action="${basePath}/contral/layouts/updateUsers?act=select&layout_id=${layout_id}" method="post" id="addSelected">
		<table class="changeColor" width="100%" cellspacing="0" cellpadding="0" border="0">
			<thead>
				<tr>
					<td width="3%" align="center"><input type="checkbox" id="selectall"/></td>
					<td width="10%" align="center">姓名</td>
					<td width="20%">准考号</td>
					<td width="50%">所在金融机构</td>
		        	<td width="17%" align="center">操作</td>
	            </tr>
			</thead>
			<tbody>
			<#if (lists.totalRow == 0)>
				<tr>
	       				<td colspan="6" align="center">没有考试用户</td>
	       			</tr>
			<#else>
			<#list lists.list as exam>
				<tr>
   					<td align="center"><input type="checkbox" name="ids" value="${exam.id }" class="cbitems"/></td>
   					<td align="center">${userinfo(exam.cardno)}</td>
   					<td align="center">${exam.cardno}</td>
   					<td>${bankname(exam.bankno)}</td>
   					
   					<td align="center">
   						<a href="${basePath}/contral/layouts/updateUsers?id=${exam.id}&act=single&layout_id=${layout_id}" class="btnAddUsertoExam">加入</a>
   					</td>
   				</tr>
			</#list>
			</#if>
	        </tbody>
	        
	        <tfoot>
	        	<tr>
	        		<td colspan="9">
	        			<div class="tab-page">
<#include "../common/pages.html">
                         
	        				<ul class="l">
	        					<li><input type="submit" value="加入选中" class="btn white"/></li>
                            </ul>
                     </div>
		        	</td>
	        	</tr>
	        </tfoot>
	    </table>
	 </form>
</div>

<!-- 数据表格end -->
<script type="text/javascript">
	$(function(){

		$.get(
				"${basePath}/contral/ajax/area?parent=0",
				{},
				function(data) {
					if (data.status) {
						var html = '<option value="">选择省份</option>';
						for ( var i = 0; i < data.data.length; i++) {
							html += "<option value=";
							html+=data.data[i].id;
							html+=">";
							html += data.data[i].name;
							html += "</option>";
						}
						$("select[name=uprovince]").append(html);
					}
				},
				"json"
			);

			$("select[name=uprovince]").change(
				function() {
					var val = $(this).val();
					if (val.length < 1) {
						return;
					}
					$.get(
						"${basePath}/contral/ajax/area?parent="+ val,
						{},
						function(data) {
							if (data.status) {
								$("select[name=ucity]").empty();
								var html = '<option value="">选择城市</option>';
								for ( var i = 0; i < data.data.length; i++) {
									html += "<option value=";
									html+=data.data[i].id;
									html+=">";
									html += data.data[i].name;
									html += "</option>";
								}
								$("select[name=ucity]").append(html);
							}
						}, 
						"json"
					);		
				});
				
				$("select[name=ucity]").change(
					function() {
						var val = $(this).val();
						if (val.length < 1) {
							return;
						}
						$.get(
							"${basePath}/contral/ajax/area?parent="+ val,
							{},
							function(data) {
								if (data.status) {
									$("select[name=ucountry]").empty();
									var html = '<option value="">选择区县</option>';
									for ( var i = 0; i < data.data.length; i++) {
										html += "<option value=";
										html+=data.data[i].id;
										html+=">";
										html += data.data[i].name;
										html += "</option>";
									}
									$("select[name=ucountry]").append(html);
								}
							}, 
							"json"
						);
					}
				);

		
		$("#addSelected").ajaxForm({
			"dataType":"json",
			"success":function(data){
				if(data.status){
					jAlert(data.data,data.info,function(){
						window.location.reload();
					});
				}else{
					jAlert(data.data,data.info);
				}
			},
			"error":function(){
				jAlert('保存失败，请稍后再试');
			}
		});
		
		$("#selectall").change(function(){
			$(".cbitems").prop("checked",this.checked);
		});
		$("#selectdom").cxSelect({
			"selects":['bank_0','bank_1','bank_2','bank_3','bank_4','bank_5','bank_6','bank_7','bank_8','bank_9'],
			"nodata":'none',
			"firstValue":'',
			"firstTitle":"全部",
			"url":${treebox}
		});
		
		$(".btnAddUsertoExam").click(function(){
			var url=$(this).attr("href");
			$.get(url,{},function(data){
				if(data.status){
					jAlert(data.data,data.info,function(){
						window.location.reload();
					});
				}else{
					jAlert(data.data,data.info);
				}
			},"json");
			return false;
		});
		
		$("#btnAddAll").click(function(){
		var url=$(this).attr("data-url");
			$.get(url,{},function(data){
				if(data.status){
					jAlert(data.data,data.info,function(){
						window.location.reload();
					});
				}else{
					jAlert(data.data,data.info);
				}
			},"json");
			return false;
		});
	});

</script>

<#include "../common/footer.html">